body {
  /* margin: 40px; */
  font-family: 'Avenir', 'sans-serif';
  /* font-family: serif; */
  /* background-color: #fff; */
  background-color: black;
  /* color: #444; */
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 2fr;
  position: sticky;
  margin: 5px;
  top:0;
}

.header-container {
  width: 100%;
}

.title {
  grid-column: 1;
  grid-row: 1;
  font-size: 2.5vw;
  font-weight: 900;
  /* text-transform: uppercase; */
  text-align: justify;
}

.split {
  grid-column: 1;
  grid-row: 2;
}

#title {
  word-wrap: break-word;
  word-break: break-all;
}

/* The styling for the "Lines" part of the title comes from Jen Simmon's "Split fractured text" codepen: https://codepen.io/jensimmons/pen/zaVJPK  */

h1, p {
  margin: 0 0 1em 0;
}

h1 {
	color: white;
}

h1::before, h1::after {
		content: attr(data-heading);
		position: absolute;
		left: 0;
		overflow: hidden;
    opacity: 1;
	}

	/* // middle */
h1::before {;
		height: 50%;
    color: black;
		text-shadow: 3px -2px 5px black, -3px 3px 4px black;
    transition: opacity .05s;
	}

	/* // Top */
h1::after {
		transform: translateX(-5px);
		height: 49%;
    color: white;
    transition: opacity .05s;
	}

h1.fade::before, h1.fade::after {
    opacity: 0;
  }

h1 {
	position: absolute;
	margin: 0;
	font-size: 2.5vw;
	font-weight: 600;
	text-transform: uppercase;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

main {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  /* font-family: stix-two-text, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em; */

}

@media screen and (min-width: 600px) {

    /* no grid support? */
  /* .block-a, .block-b, .block-c {
    float: left;
    width: 19.1489%;
  } */


  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-rows: minmax(150px, auto);
  }

  .header {
    grid-column: 1 / -1;
    grid-auto-rows: 1fr;
    clear: both;
  }

  main {
    grid-column: 2;
    grid-row: 2 / 7;
    margin-top: 30px;
  }

}


@media screen and (max-width: 600px) {

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-rows: minmax(150px, auto);
  }

  .header {
    grid-column: 1 / -1;
    grid-row: 1
    clear: both;
  }

  main {
    grid-column: 2;
    grid-row: 2;
    margin-top: 30px;
  }

}

.wrapper > * {
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  /* font-size: 150%; */
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}
